@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    font-family: "Cinzel Decorative", cursive;
}
.pulse{
    stroke-dasharray: 2500px;
    stroke-dashoffset: 3680px;
    animation: dash 4s ease-out infinite;
    stroke:url(#strokeGradient);

}
@keyframes dash{
    to { 
        stroke-dashoffset: 0;

    }
}

span{
    color:#eee;
    display: block;
    text-align: center;
    font-size:45px;
    margin-top: 15px;
    animation: blink 600ms linear infinite alternate;
}
@keyframes blink{
    from {
        opacity: 0;

    }
    to{
        opacity: 1.1;
    }
}
